
<div class="col-lg-5 col-centered">
  
</div>
<a data-bind="click:$root.add" href="#" class="btn">Añadir</a>
<div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <td>Fecha</td>
                <td>Cantidad Pasos</td>
                <td>Opciones</td>
            </tr>
        </thead>
        <tbody>
            <!-- ko foreach: registros-->
            <tr>
                <td>
                    <input type="date" data-bind="text:fecha,value:fecha" class="fecha"/>
                </td>
                <td>
                    <input type="number" data-bind="text:cantidadPasos,value:cantidadPasos" />
                </td>
                <td>
                    <span data-bind="click:$root.remove" class="btn">remover</span>
                </td>
            </tr>
            <!-- /ko-->
        </tbody>
    </table>
</div>
<button id="btn-guardar" class="btn btn-info" data-bind="click:save" >Guardar</button>

        @*@Html.AntiForgeryToken()
        @Html.ValidationSummary(true)*@

@section scripts{
<script src="~/Scripts/Home/registro.js"></script>
}




