<div class="col-sm-8">
    <div class="widget-box transparent">
        <div class="widget-header widget-header-flat">
            <h4 class="widget-title lighter">
                <i class="ace-icon fa fa-signal"></i>
                Estadisticas Usuario
            </h4>
            <div class="widget-toolbar">
                <a href="#" data-action="collapse">
                    <i class="ace-icon fa fa-chevron-up"></i>
                </a>
            </div>
        </div>

        <div class="widget-body">
            <div class="widget-main padding-4">
                <div>
                    <!-- ko with: form -->
                    @*<input id="date_from" class="datepicker" data-bind="moment:from" type="date" />
                    <input id="date_to" class="datepicker" data-bind="moment:to" type="date" />*@
                    <div id="range_date" data-bind="dateRange:from, min: from, max: to,update: $root.find "></div>
                    @*<button id="btnBuscar" data-bind="click:$root.find"> Buscar </button>*@
                    <!-- /ko -->
                </div>
                <div id="estadistica-chart"></div>
            </div><!-- /.widget-main -->
        </div><!-- /.widget-body -->
    </div><!-- /.widget-box -->
</div><!-- /.col -->

<div class="col-sm-8">
</div>