@{
    ViewBag.Title = "Index";
//    Layout = "~/_Layout.cshtml";
}

<div id="home_content">
    <!-- ko if: selected -->
    <!-- PAGE CONTENT BEGINS -->
    <!-- #section:custom/extra.hr -->

    <div class="row">
        <div class="col-sm-5">

            <!-- Tabla Retos -->
            <div class="widget-box transparent">
                <div class="widget-header widget-header-flat">
                    <h4 class="widget-title lighter">
                        <i class="ace-icon fa fa-star orange"></i>
                        Retos
                    </h4>

                    <div class="widget-toolbar">
                        <a href="#" data-action="collapse">
                            <i class="ace-icon fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>

                <div class="widget-body">
                    <div class="widget-main no-padding">
                        <table class="table table-bordered table-striped">
                            <thead class="thin-border-bottom">
                                <tr>
                                    <th style="width:25%">
                                        <i class="ace-icon fa fa-caret-right blue"></i>Nombre
                                    </th>

                                    <th>
                                        <i class="ace-icon fa fa-caret-right blue"></i>Puntos
                                    </th>

                                    <th class="hidden-480" style="width:20%">
                                        <i class="ace-icon fa fa-caret-right blue"></i>Ranking
                                    </th>
                                </tr>
                            </thead>

                            <tbody>
                                <!-- ko foreach: detallesRetos -->
                                <tr>
                                    <td data-bind="text:name"></td>

                                    <td>
                                        <div class="progress">
                                            <div data-bind="style: {width: porcentajeTotalUsuario()}, numeraltext:totalUsuario" class="progress-bar progress-bar-success"></div>
                                            <div data-bind="style: {width: porcentajeTotalEquipo()},numeraltext:totalEquipo" class="progress-bar progress-bar-warning"></div>
                                            <div data-bind="style: {width: porcentajeTotalReto()}" class="progress-bar progress-bar-grey"></div>

                                        </div>
                                    </td>

                                    <td class="hidden-480">
                                        <span data-bind="text:posicionText, css:posicionIcon"></span>
                                    </td>
                                </tr>
                                <!-- /ko -->
                            </tbody>
                        </table>
                    </div><!-- /.widget-main -->
                </div><!-- /.widget-body -->
            </div><!-- /.widget-box -->
            <!-- Fin Tabla Retos-->
            <h4 class="widget-title lighter" style="margin-top:40px;">
                <i class="ace-icon fa fa-certificate orange"></i>
                Medallas
            </h4>
            <img src="~/Content/Landing/images/medallas_prodactive.png" width="446" />

        </div><!-- /.col -->

        <div class="col-sm-7">
            <div class="widget-box transparent">
                <div class="widget-header widget-header-flat">
                    <h4 class="widget-title lighter">
                        <i class="ace-icon fa fa-signal"></i>
                        Resumen
                    </h4>

                    <div class="widget-toolbar">
                        <a href="#" data-action="collapse">
                            <i class="ace-icon fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>

                <div class="widget-body">
                    <div class="widget-main padding-4">
                        <div id="sales-charts"></div>
                    </div><!-- /.widget-main -->
                </div><!-- /.widget-body -->
            </div><!-- /.widget-box -->
        </div><!-- /.col -->

    </div><!-- /.row -->

    <div class="hr hr32 hr-dotted"></div>

    <div class="row">
        <div class="col-sm-6">
            <!-- Tips -->
            <div class="widget-box transparent" id="recent-box">
                <div class="widget-header">
                    <h4 class="widget-title lighter smaller">
                        <i class="ace-icon fa fa-rss orange"></i>Tips
                    </h4>

                    <div class="widget-toolbar no-border">
                        <ul class="nav nav-tabs" id="recent-tab">
                            <li class="active">
                                <a data-toggle="tab" href="#task-tab">Alimentación</a>
                            </li>

                            <li>
                                <a data-toggle="tab" href="#member-tab">Deporte</a>
                            </li>

                            <li>
                                <a data-toggle="tab" href="#comment-tab">Salud</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="widget-body">
                    <div class="widget-main padding-4">
                        <div class="tab-content padding-8">
                            <div id="task-tab" class="tab-pane active">
                                <h4 class="smaller lighter green">
                                    <i class="ace-icon fa fa-leaf"></i>
                                    Alimentación
                                </h4>

                                <!-- ko foreach: tips -->
                                <!-- ko if: tipo()=="Alimentación" -->
                                <!-- #section:pages/dashboard.tasks -->
                                <div class="widget-box ui-sortable-handle">
                                    <div class="widget-header">
                                        <h5 class="widget-title smaller" data-bind="text:tipo"></h5>
                                        <div class="widget-toolbar">
                                            <span class="label label-success">
                                                <i class="ace-icon fa fa-arrow-up"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="widget-body">
                                        <div class="widget-main padding-6">
                                            <div class="alert alert-info" data-bind="text:mensaje"> </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /ko -->
                                <!-- /ko -->
                                <!-- /section:pages/dashboard.tasks -->
                            </div>

                            <div id="member-tab" class="tab-pane">
                                <h4 class="smaller lighter orange">
                                    <i class="ace-icon fa fa-bullseye"></i>
                                    Deporte
                                </h4>

                                <!-- ko foreach: tips -->
                                <!-- ko if: tipo()=="Deporte" -->
                                <!-- #section:pages/dashboard.tasks -->
                                <div class="widget-box ui-sortable-handle">
                                    <div class="widget-header">
                                        <h5 class="widget-title smaller" data-bind="text:tipo"></h5>
                                        <div class="widget-toolbar">
                                            <span class="label label-success">
                                                <i class="ace-icon fa fa-arrow-up"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="widget-body">
                                        <div class="widget-main padding-6">
                                            <div class="alert alert-info" data-bind="text:mensaje"> </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /ko -->
                                <!-- /ko -->

                            </div><!-- /.#member-tab -->

                            <div id="comment-tab" class="tab-pane">
                                <!-- #section:pages/dashboard.comments -->

                                <h4 class="smaller lighter red">
                                    <i class="ace-icon fa fa-heart"></i>
                                    Salud
                                </h4>

                                <!-- ko foreach: tips -->
                                <!-- ko if: tipo()=="Salud" -->
                                <!-- #section:pages/dashboard.tasks -->
                                <div class="widget-box ui-sortable-handle">
                                    <div class="widget-header">
                                        <h5 class="widget-title smaller" data-bind="text:tipo"></h5>
                                        <div class="widget-toolbar">
                                            <span class="label label-success">
                                                <i class="ace-icon fa fa-arrow-up"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="widget-body">
                                        <div class="widget-main padding-6">
                                            <div class="alert alert-info" data-bind="text:mensaje"> </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /ko -->
                                <!-- /ko -->
                                <!-- /section:pages/dashboard.comments -->
                            </div>


                        </div>
                    </div><!-- /.widget-main -->
                </div><!-- /.widget-body -->


            </div><!-- /.widget-box -->
        </div><!-- /.col -->

        <div class="col-sm-6">
            <div class="widget-box">
                <div class="widget-header">
                    <h4 class="widget-title lighter smaller">
                        <i class="ace-icon fa fa-comment blue"></i>
                        Chat
                    </h4>
                </div>

                <div class="widget-body">
                    <div class="widget-main no-padding">
                        <!-- #section:pages/dashboard.conversations -->
                        <!-- ko with: mensaje-->
                        <div>
                             <span data-bind="text:usuario"></span>
                             <div class="input-group">
                                 <input placeholder="Type your message here ..." type="text" class="form-control" name="message" data-bind="text:mensaje,valueUpdate: 'afterkeydown',value:mensaje,event: { keypress: $root.enterSend}" />
                                <span class="input-group-btn">
                                    <button class="btn btn-sm btn-info no-radius" type="button" data-bind="click:$root.sendMessage">
                                        <i class="ace-icon fa fa-share"></i>
                                        Send
                                    </button>
                                </span>
                              </div>
                        </div>
                        <!-- /ko -->
                        <div class="dialogs">
                            <!-- ko foreach: mensajes -->
                            <div class="itemdiv dialogdiv">
                                <div class="user">
                                    <img alt="Alexa's Avatar" data-bind="attr: { src: url } "/>
                                </div>

                                <div class="body">
                                    <div class="time">
                                        <i class="ace-icon fa fa-clock-o"></i>
                                        <!--span class="green" data-bind="text:fechaCountdown"></span-->
                                        <span class="green" data-bind="timeAgo:fecha"></span>
                                    </div>

                                    <div class="name">
                                        <a href="#" data-bind="text:usuario"></a>
                                    </div>
                                    <div class="text" data-bind="text:mensaje"></div>

                                    <div class="tools">
                                        <a href="#" class="btn btn-minier btn-info">
                                            <i class="icon-only ace-icon fa fa-share"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- /ko -->
                            
                        </div>

                        <!-- /section:pages/dashboard.conversations -->
                       
                    </div><!-- /.widget-main -->
                </div><!-- /.widget-body -->
            </div><!-- /.widget-box -->
        </div><!-- /.col -->
    </div><!-- /.row -->
    <!-- PAGE CONTENT ENDS -->
    <!-- /ko -->
</div>

<div id="reto_content">
    <!-- ko if: selected-->
    @{ Html.RenderPartial("~/Views/Home/Reto.cshtml"); }
    <!-- /ko -->
</div>

<div id="estadisticas_content">
    <!-- ko if: selected-->
    <div class="row">
    @{ Html.RenderPartial("~/Views/Home/Estadisticas.cshtml"); }    
    </div>
    
    <!-- /ko -->
</div>

<div id="logros_content">
    <!-- ko if: selected-->
    @{ Html.RenderPartial("~/Views/Home/Logros.cshtml"); }
    <!-- /ko -->
</div>

<div id="tips">
    <div id="tipsSalud">
        <!-- ko if: selected -->
        @{ Html.RenderPartial("~/Views/Home/Tips.cshtml"); }
        <!-- /ko -->
    </div>
    <div id="tipsDeporte">
        <!-- ko if: selected -->
        @{ Html.RenderPartial("~/Views/Home/Tips.cshtml"); }
        <!-- /ko -->
    </div>
    <div id="tipsAlimentacion">
        <!-- ko if: selected -->
        @{ Html.RenderPartial("~/Views/Home/Tips.cshtml"); }
        <!-- /ko -->
    </div>

</div>

<div id="calendario_content">
    <!-- ko if: selected -->
    @{ Html.RenderPartial("~/Views/Home/Calendario.cshtml"); }
    <!-- /ko -->
</div>

<div id="galeria_content">
    <!-- ko if: selected -->
    @{ Html.RenderPartial("~/Views/Home/Galeria.cshtml"); }
    <!-- /ko -->
</div>

<div id="acercade_content">
    <!-- ko if: selected -->
    @{ Html.RenderPartial("~/Views/Home/AcercaDe.cshtml"); }
    <!-- /ko -->
</div>

<div id="Faq_content">
    <!-- ko if: selected -->
    @{ Html.RenderPartial("~/Views/Home/FAQ.cshtml"); }
    <!-- /ko -->
</div>