<div class="row">
    <div class="col-sm-12 infobox-container">
        <!-- ko foreach: logros-->
        <div class="infobox infobox-green">
            <div class="infobox-icon">
                <img data-bind="attr: { src: urlImage }" width="45" height="45" />
            </div>

            <div class="infobox-data">
                <span class="infobox-data-number" data-bind="text:cantidad">32</span>
                <div class="infobox-content" data-bind="text:logro">


                </div>
            </div>

            <!--div class="stat stat-success">8%</!--div-->
        </div>
        <!-- /ko -->
        
    </div>
    <img src="~/Content/medallas/trofeos.png" class="logrim" />

</div>