@font-face {
    font-family: "Custom";
    src:  url('Impact.ttf') format('truetype');
   
}
body {
 
}
.app {
    background-color: red;
    width: 100px;
    height: 50px;
}


.Bod{
    background-size: 90%;
       /*background-image:url('../images/landing page fondo.jpg');*/
       background-image:url('../images/Backg_landing.png');
       
}

.gray {
    background-color:rgba(21, 21, 21, 0.8);
    
}

.graylight {
    background-color:rgba(21, 21, 21, 0.6);
    
}
.mod11
{
    /*width:100px;*/
    background-color:rgba(112, 229, 0, 0.80);
}
.mod1
{
    /*width:100px;*/
    background-color:#70E500;
}
.mod2
{
    /*width:100px;*/
    background-color:#FF7A00;
}
.mod22
{
    /*width:100px;*/
    background-color:rgba(255, 122, 0, 0.6);
}
.mod3
{
    /*width:100px;*/
    background-color:#03899C;
}
.mod33
{
    /*width:100px;*/
    background-color:rgba(3, 137, 156, 0.8);
}
.mod4
{
    /*width:100px;*/
    background-color:#E1004C;
}
.mod44
{
    /*width:100px;*/
    background-color:rgba(225, 0, 76, 0.8);
}




