<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Zeitgeist.Appsco.Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-Zeitgeist.Appsco.Web-20140628005511;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-Zeitgeist.Appsco.Web-20140628005511.mdf" providerName="System.Data.SqlClient" />
    <add name="db" connectionString="mongodb://prodactive:pr0d4ct1v3@kratos.zeitgeist.com.co:27017/prodactive" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <machineKey validationKey="8728DE8943446A25D39BFC2A8418EB003AC77FB1E02C5904C6CF98C25DF31EFD7B5286FACE3E669B7502DD5E41590ACF75F456B0BAAED5A3CCFA0C8914A686E3" decryptionKey="21427C27FF4DE9ACF4783336F9E9784835D1BBD7A688EF45" validation="SHA1" decryption="AES" />
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="Forms">
      <forms name="WSATCookie" slidingExpiration="true" timeout="30" loginUrl="/Account/Login" cookieless="AutoDetect" protection="All" requireSSL="false" enableCrossAppRedirects="true" defaultUrl="/Home/Index" domain="" path="/" />
      <!--<forms loginUrl="~/Account/Login" timeout="2880" />-->
    </authentication>
    <membership defaultProvider="MembershipProvider">
      <providers>
        <clear />
        <add name="MembershipProvider" type="MongoProviders.MembershipProvider, MongoProviders, Version=1.0.0.0, Culture=neutral" applicationName="/webApp" connectionStringName="db" collectionSuffix="users" invalidUsernameCharacters=",%" invalidEmailCharacters=",%" writeExceptionsToEventLog="false" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="10" minRequiredPasswordLength="6" minRequiredNonAlphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" />
        <add name="MembershipProviderAdmin" type="MongoProviders.MembershipProvider, MongoProviders, Version=1.0.0.0, Culture=neutral" applicationName="/webApp" connectionStringName="db" collectionSuffix="users" invalidUsernameCharacters=",%" invalidEmailCharacters=",%" writeExceptionsToEventLog="false" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7" minRequiredNonAlphanumericCharacters="1" passwordAttemptWindow="10" passwordStrengthRegularExpression="" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="MongoRoleProvider"
                 cacheRolesInCookie="false"
                 createPersistentCookie="false" cookieProtection="All">
      <providers>
        <clear />
        <add name="MongoRoleProvider" type="MongoProviders.RoleProvider, MongoProviders, Version=1.0.0.0, Culture=neutral" applicationName="/webApp" connectionStringName="db" roleCollectionSuffix="roles" userCollectionSuffix="users" invalidUsernameCharacters=",%" invalidRoleCharacters=",%" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/webApp" />
      </providers>
    </roleManager>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Npgsql" publicKeyToken="5d8b90d52f46fda7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.3.0" newVersion="2.1.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MongoDB.Driver" publicKeyToken="f686731cfb9cc103" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.2.235" newVersion="1.9.2.235" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MongoDB.Bson" publicKeyToken="f686731cfb9cc103" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.2.235" newVersion="1.9.2.235" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <location path="api">
    <system.web>
      <httpHandlers>
        <add path="*" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*" />
      </httpHandlers>
    </system.web>
    <!-- Required for IIS7 -->
    <system.webServer>
      <modules runAllManagedModulesForAllRequests="true" />
      <validation validateIntegratedModeConfiguration="false" />
      <handlers>
        <add path="*" name="ServiceStack.Factory" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true" />
      </handlers>
    </system.webServer>
  </location>
  <applicationSettings>
    <Zeitgeist.Appsco.Web.Properties.Settings>
      <setting name="ConnectionString" serializeAs="String">
        <value>mongodb://prodactive:pr0d4ct1v3@kratos.zeitgeist.com.co:27017/prodactive</value>
      </setting>
      <setting name="Bd" serializeAs="String">
        <value>prodactive</value>
      </setting>
      <setting name="ClientCollection" serializeAs="String">
        <value>pos_client</value>
      </setting>
      <setting name="ColeccionPersona" serializeAs="String">
        <value>persona</value>
      </setting>
      <setting name="ColeccionDeporte" serializeAs="String">
        <value>deporte</value>
      </setting>
      <setting name="ColeccionLiga" serializeAs="String">
        <value>liga</value>
      </setting>
      <setting name="ColeccionDivision" serializeAs="String">
        <value>division</value>
      </setting>
      <setting name="ColeccionUsuarios" serializeAs="String">
        <value>/webApp/users/</value>
      </setting>
      <setting name="ColeccionRetos" serializeAs="String">
        <value>reto</value>
      </setting>
      <setting name="ColeccionRoles" serializeAs="String">
        <value>/webApp/roles/</value>
      </setting>
      <setting name="ColeccionRegistro" serializeAs="String">
        <value>registro</value>
      </setting>
    </Zeitgeist.Appsco.Web.Properties.Settings>
  </applicationSettings>
</configuration>