@{
    ViewBag.Title = "Message";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@model Zeitgeist.Appsco.Web.Models.LandingData
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="SHIELD - Free Bootstrap 3 Theme">
    <meta name="author" content="Carlos Alvarez - Alvarez.is - blacktie.co">
    <link rel="shortcut icon" href="assets/ico/favicon.png">

    <title> Landing pag</title>

    <!-- Bootstrap core CSS -->
    <link href="/Content/Landing/assets/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/Content/Landing/assets/css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="/Content/Landing/assets/css/icomoon.css">
    <link href="/Content/Landing/assets/css/animate-custom.css" rel="stylesheet">
    <link href="~/Content/Landing/css/LandingStyle.css" rel="stylesheet" />
    <link href="~/Content/Landing/css/hover.css" rel="stylesheet" />

    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
    <script src="/Content/Landing/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="/Content/Landing/assets/js/modernizr.custom.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->
</head>

<body data-spy="scroll" data-offset="0" data-target="#navbar-main">


    <div id="navbar-main">
        <!-- Fixed navbar -->
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div style="text-align: center;"><img src="~/Content/Landing/images/logo.png" style="width:40%;height: 40%" /></div>
            </div>
        </div>
    </div>
    <!-- ==== HEADERWRAP ==== -->
    <div id="headerwrap" id="home" name="home" style="position: relative; ">
        <div class="row" style="height:700px">
            <div  >
                                @*<p>
        class=" container col-lg-offset-4 col-lg-4" style="width:500px; height:100px;top:220px;
                 ¡prepárate, pronto te informaremos!
                </p>*@
                <img src="../../Content/Landing/images/Mensaje_teinf.png" style="width:100%;margin-top:250px;" alt="" />
            </div>
        </div>

    </div><!-- /headerwrap -->
    <!-- ==== GREYWRAP ==== -->
    <div id="greywrap">
        <div class="row">
            
        </div>
    </div><!-- greywrap -->
    <div id="footerwrap" class="mod3">
        <div class="container">
            <h5>Created by <a href="http://zeitgeist.com.co" style="color:#FFFFFF;font-weight:bold ">zeitgeist.com.co</a> - Copyright 2014</h5>
        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->


    <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/js/retina.js"></script>
    <script type="text/javascript" src="assets/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="assets/js/smoothscroll.js"></script>
    <script type="text/javascript" src="assets/js/jquery-func.js"></script>
</body>
</html>



